pipeline/azuresql-to-adls.json
{
	"name": "azuresql-to-adls",
	"properties": {
		"activities": [
			{
				"name": "LastLoad",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "lastlookup_source_dataset",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "LatestLoad",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select max(booking_date)  as LatestLoad from FactBookings",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "Latestload_lookup_sql_source_dataset",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "sql_adls_copy_activity",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "LastLoad",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "LatestLoad",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "select * from FactBookings\nwhere booking_date >'@{activity('LastLoad').output.firstRow.LastLoad}'\nand booking_date <'@{activity('LatestLoad').output.firstRow.LatestLoad}'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "sql_adls_copy_source_dataset",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "sql_adls_sink_table",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "water_mark",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "sql_adls_copy_activity",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"additionalColumns": [
							{
								"name": "LastLoad",
								"value": {
									"value": "@activity('LatestLoad').output.firstRow.LatestLoad",
									"type": "Expression"
								}
							}
						],
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "JsonWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "latest_load_empty_dataset",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "lastlookup_source_dataset",
						"type": "DatasetReference"
					}
				]
			}
		],
		"annotations": [],
		"lastPublishTime": "2025-11-21T14:44:29Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}